*{margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
$color-black : #555555;
$color-blue : #0039FF;

@mixin fontstyle($fontsize,$fontweight,$color,$lineheight,$textalign) {
  font-size: $fontsize;
  font-weight: $fontweight;
  color : $color;
  line-height: $lineheight;
  text-align: $textalign;
} 

@mixin wid-height($wid,$hg){
  width: $wid;
  height: $hg;
}

@mixin wid-height-backcolor($wid,$hg,$bgc) {
  width: $wid;
  height: $hg;
  background-color: $bgc;  
}

@mixin dp-set($display,$justify,$align){
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
  
@mixin dp-set2($display,$justify,$align,$direction){
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

body{
@include wid-height(100vw,100vh);
}
#root > header {
  @include wid-height(100%,100px );
  @include dp-set2(flex,center ,center, column );

  & > hr:nth-child(2){
    @include wid-height-backcolor(1300px,5px ,$color-black ); 
    margin-left: 50px;
  }
  & > ul{
    @include dp-set2(flex,space-around ,center ,row );
    @include wid-height(50%,100% );

  }
}
#root{

  display: flex;
  
}
#root > div:nth-child(2){
  @include dp-set2(flex,space-around ,center ,column);
  @include wid-height(900px,100vh);
  position: absolute;
  top : 100px;
  

  & > div:nth-child(1){
    @include wid-height-backcolor(600px,300px ,salmon );
    @include dp-set2(flex,space-around ,center ,row );
    & > div:nth-child(1){
      @include wid-height(200px,300px );
      background-image: url("https://pbs.twimg.com/media/DzLolJ_UUAIqHfp.jpg:large");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    & > div:nth-child(2) > h1{
      @include fontstyle(24px,400,$color-black,29px,''); 
    }
    & > div:nth-child(2) > p:nth-child(2){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
    }
    & > div:nth-child(2) > p:nth-child(3){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
      @include wid-height(400px,100px);
    }
  }
  & > div:nth-child(2){
    @include wid-height-backcolor(600px,300px ,skyblue );
    @include dp-set2(flex,space-around ,center,row );
    & > div:nth-child(1){
      @include wid-height(200px,300px );
      background-image: url("https://w.namu.la/s/534f1ba040ec406a7f5cfd88d0fb2be8ad773d4a35d44acad3f8a001344d54da402a5ec47800b9334eafe578771d03ccd78e4d7d50423f616721e81ae8b5568e5f4bc1ae4582620a49487c489175eaaa6da9201008d17cc7a5c0235841891a56");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    & > div:nth-child(2) > h1{
      @include fontstyle(24px,400,$color-black,29px,''); 
    }
    & > div:nth-child(2) > p:nth-child(2){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
    }
    & > div:nth-child(2) > p:nth-child(3){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
      @include wid-height(400px,100px);
    }
    
  }
  & > div:nth-child(3){
    @include wid-height-backcolor(600px,300px ,hotpink );
    @include dp-set2(flex,space-around ,center ,row );
    & > div:nth-child(1){
      @include wid-height(200px,300px );
      background-image: url("https://w.namu.la/s/534f1ba040ec406a7f5cfd88d0fb2be8ad773d4a35d44acad3f8a001344d54da402a5ec47800b9334eafe578771d03ccd78e4d7d50423f616721e81ae8b5568e5f4bc1ae4582620a49487c489175eaaa6da9201008d17cc7a5c0235841891a56");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    & > div:nth-child(2) > h1{
      @include fontstyle(24px,400,$color-black,29px,''); 
    }
    & > div:nth-child(2) > p:nth-child(2){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
    }
    & > div:nth-child(2) > p:nth-child(3){
      @include fontstyle(12px,400 ,$color-black ,15px ,justify);
      @include wid-height(400px,100px);
    }
  }
}

#root > div:nth-child(3){
@include wid-height-backcolor(100px,800px ,$color-blue );
position: absolute;
top : 150px;
right:  500px;

}

#root > div:nth-child(4){

  @include wid-height-backcolor(300px,800px ,lightgray );
  position: absolute;
  top: 150px;
  right : 100px;
}

